[package]
name = "util"
version = "0.1.1"
authors = ["Ben Weedon <ben@weedon.email>"]
edition = "2018"

[dependencies]
macros = { path = "../macros" }
walkdir = "2.3.1"
zip = { version = "0.5.8", default-features = false }
